Repository software-mansion-labs/expo-maps, pull requests merged in 2022-05, with the labels that each got.

#71 feat/0056: Implemented kml parser on ios
  example/assets/sample.kml
  example/ios/Podfile.lock
  example/ios/example.xcodeproj/project.pbxproj
  example/screens/GeoJsonExample.tsx
  example/screens/KMLExample.tsx
  example/screens/MarkersExample.tsx
  expo-maps/android/src/main/java/expo/modules/maps/PropsData.kt
  expo-maps/android/src/main/java/expo/modules/maps/googleMaps/GoogleMapsClusters.kt
  expo-maps/android/src/main/java/expo/modules/maps/googleMaps/GoogleMapsGeoJsons.kt
  expo-maps/android/src/main/java/expo/modules/maps/googleMaps/GoogleMapsUtils.kt
  expo-maps/build/Common.types.d.ts
  expo-maps/build/Common.types.js.map
  expo-maps/build/GeoJson.d.ts
  expo-maps/build/GeoJson.js.map
  expo-maps/build/Map.js
  expo-maps/build/Map.js.map
  expo-maps/build/Map.types.d.ts
  expo-maps/build/Map.types.js.map
  expo-maps/build/Marker.d.ts
  expo-maps/build/Marker.js.map
  expo-maps/build/Polygon.d.ts
  expo-maps/build/Polygon.js.map
  expo-maps/build/Polyline.d.ts
  expo-maps/build/Polyline.js.map
  expo-maps/build/Utils.d.ts
  expo-maps/build/Utils.js
  expo-maps/build/Utils.js.map
  expo-maps/ios/ExpoMaps/AppleMaps/AppleMapsDelegate.swift
  expo-maps/ios/ExpoMaps/AppleMaps/AppleMapsGestures.swift
  expo-maps/ios/ExpoMaps/AppleMaps/AppleMapsKMLs.swift
  expo-maps/ios/ExpoMaps/AppleMaps/AppleMapsMarkers.swift
  expo-maps/ios/ExpoMaps/AppleMaps/AppleMapsPolygons.swift
  expo-maps/ios/ExpoMaps/AppleMaps/AppleMapsPolylines.swift
  expo-maps/ios/ExpoMaps/AppleMaps/AppleMapsUtils.swift
  expo-maps/ios/ExpoMaps/AppleMaps/AppleMapsView.swift
  expo-maps/ios/ExpoMaps/AppleMaps/ArrayExtension.swift
  expo-maps/ios/ExpoMaps/AppleMaps/KMLTags.swift
  expo-maps/ios/ExpoMaps/AppleMaps/UIColorExtension.swift
  expo-maps/ios/ExpoMaps/ExpoAppleMapsModule.swift
  expo-maps/ios/ExpoMaps/GoogleMaps/GoogleMapsClusters.swift
  expo-maps/ios/ExpoMaps/GoogleMaps/GoogleMapsUtils.swift
  expo-maps/ios/ExpoMaps/PropsData.swift
  expo-maps/ios/ExpoMaps/Protocols/Markers.swift
  expo-maps/ios/ExpoMaps/Resources.swift
  expo-maps/src/Common.types.ts
  expo-maps/src/GeoJson.ts
  expo-maps/src/Map.tsx
  expo-maps/src/Map.types.ts
  expo-maps/src/Marker.ts
  expo-maps/src/Polygon.ts
  expo-maps/src/Polyline.ts
  expo-maps/src/Utils.ts
Labels: enhancement

#75 Replace `ExpoModulesCore` deprecated methods
  expo-maps/android/src/main/java/expo/modules/maps/ExpoGoogleMapsModule.kt
  expo-maps/ios/ExpoMaps/ExpoAppleMapsModule.swift
  expo-maps/ios/ExpoMaps/ExpoGoogleMapsModule.swift
Labels: dependency update

#73 Add default styling for Apple Maps GeoJSONs
  expo-maps/ios/ExpoMaps/AppleMaps/AppleMapsGeoJsons.swift
  expo-maps/ios/ExpoMaps/AppleMaps/AppleMapsPolygons.swift
  expo-maps/ios/ExpoMaps/AppleMaps/AppleMapsPolylines.swift
  expo-maps/ios/ExpoMaps/AppleMaps/AppleMapsUtils.swift
  expo-maps/ios/ExpoMaps/PropsData.swift
Labels: enhancement, ios

#76 Reverse `GoogleMaps` pod update (downgrade to 6.0.0)
  example/ios/Podfile.lock
  expo-maps/ios/ExpoMaps.podspec
Labels: bug, ios
