Repository software-mansion-labs/expo-maps, pull requests merged in 2022-03, with the labels that each got.

#40 Add camera position prop
  example/App.tsx
  example/components/ExamplesListItem.tsx
  example/components/SettingsContainer.tsx
  example/constants/Colors.ts
  example/constants/ConcreteExampleScreens.ts
  example/navigators/MainNavigator.tsx
  example/screens/CameraPositionExample.tsx
  example/screens/ControlsExample.tsx
  example/screens/ExamplesListScreen.tsx
  example/screens/MapTypesExample.tsx
  example/screens/MarkersExample.tsx
  expo-maps/android/src/main/java/expo/modules/maps/ExpoGoogleMapsModule.kt
  expo-maps/android/src/main/java/expo/modules/maps/PropsData.kt
  expo-maps/android/src/main/java/expo/modules/maps/googleMaps/GoogleMapsView.kt
  expo-maps/build/Map.js
  expo-maps/build/Map.js.map
  expo-maps/build/Map.types.d.ts
  expo-maps/build/Map.types.js.map
  expo-maps/ios/ExpoMaps/AppleMaps/AppleMapsView.swift
  expo-maps/ios/ExpoMaps/ExpoAppleMapsModule.swift
  expo-maps/ios/ExpoMaps/ExpoGoogleMapsModule.swift
  expo-maps/ios/ExpoMaps/ExpoMapView.swift
  expo-maps/ios/ExpoMaps/GoogleMaps/GoogleMapsView.swift
  expo-maps/ios/ExpoMaps/PropsData.swift
  expo-maps/src/Map.tsx
  expo-maps/src/Map.types.ts
Labels: android, ios, demo app

#47 Fix map type example
  example/screens/MapTypesExample.tsx
Labels: bug

#51 Fix Google Maps styling example on Android
  expo-maps/android/src/main/java/expo/modules/maps/ExpoGoogleMapsModule.kt
Labels: bug, android

#49 Fix dropdown component malfunction in Android demo app
  example/App.tsx
  example/components/ExamplesListItem.tsx
  example/components/SettingsContainer.tsx
  example/components/SwitchContainer.tsx
  example/constants/Colors.ts
  example/screens/CameraPositionExample.tsx
  example/screens/ControlsExample.tsx
  example/screens/GesturesExample.tsx
  example/screens/MapTypesExample.tsx
Labels: bug, android, demo app

#53 Implement traffic layer
  example/constants/ConcreteExampleScreens.ts
  example/screens/ControlsExample.tsx
  example/screens/GesturesExample.tsx
  example/screens/TrafficExample.tsx
  expo-maps/android/src/main/java/expo/modules/maps/ExpoGoogleMapsModule.kt
  expo-maps/android/src/main/java/expo/modules/maps/ExpoMapView.kt
  expo-maps/android/src/main/java/expo/modules/maps/PropsData.kt
  expo-maps/android/src/main/java/expo/modules/maps/googleMaps/GoogleMapsControls.kt
  expo-maps/android/src/main/java/expo/modules/maps/googleMaps/GoogleMapsView.kt
  expo-maps/build/Map.js
  expo-maps/build/Map.js.map
  expo-maps/build/Map.types.d.ts
  expo-maps/build/Map.types.js.map
  expo-maps/ios/ExpoMaps/AppleMaps/AppleMapsView.swift
  expo-maps/ios/ExpoMaps/ExpoAppleMapsModule.swift
  expo-maps/ios/ExpoMaps/ExpoGoogleMapsModule.swift
  expo-maps/ios/ExpoMaps/ExpoMapView.swift
  expo-maps/ios/ExpoMaps/GoogleMaps/GoogleMapsView.swift
  expo-maps/src/Map.tsx
  expo-maps/src/Map.types.ts
Labels: enhancement

#57 Implemented KMLs on Google Maps
  example/assets/sample.kml
  example/constants/ConcreteExampleScreens.ts
  example/metro.config.js
  example/screens/GesturesExample.tsx
  example/screens/KMLExample.tsx
  example/screens/MarkersExample.tsx
  example/screens/TrafficExample.tsx
  expo-maps/android/src/main/java/expo/modules/maps/ExpoGoogleMapsModule.kt
  expo-maps/android/src/main/java/expo/modules/maps/ExpoMapView.kt
  expo-maps/android/src/main/java/expo/modules/maps/PropsData.kt
  expo-maps/android/src/main/java/expo/modules/maps/googleMaps/GoogleMapsKMLs.kt
  expo-maps/android/src/main/java/expo/modules/maps/googleMaps/GoogleMapsView.kt
  expo-maps/android/src/main/java/expo/modules/maps/interfaces/KMLs.kt
  expo-maps/build/KML.d.ts
  expo-maps/build/KML.js
  expo-maps/build/KML.js.map
  expo-maps/build/Map.d.ts
  expo-maps/build/Map.js
  expo-maps/build/Map.js.map
  expo-maps/build/Map.types.d.ts
  expo-maps/build/Map.types.js.map
  expo-maps/build/Utils.d.ts
  expo-maps/build/Utils.js
  expo-maps/build/Utils.js.map
  expo-maps/ios/ExpoMaps/AppleMaps/AppleMapsView.swift
  expo-maps/ios/ExpoMaps/ExpoGoogleMapsModule.swift
  expo-maps/ios/ExpoMaps/ExpoMapView.swift
  expo-maps/ios/ExpoMaps/GoogleMaps/GoogleMapsKMLs.swift
  expo-maps/ios/ExpoMaps/GoogleMaps/GoogleMapsView.swift
  expo-maps/ios/ExpoMaps/PropsData.swift
  expo-maps/ios/ExpoMaps/Protocols/KMLs.swift
  expo-maps/src/KML.ts
  expo-maps/src/Map.tsx
  expo-maps/src/Map.types.ts
  expo-maps/src/Utils.ts
Labels: enhancement
